=====================================
Glided Rose Gereksinimleri Şartnamesi
=====================================

Merhaba, Gilded Rose takımına hoş geldiniz. Bildiğiniz gibi, Allison adında dost canlısı
bir hancı tarafından işletilen seçkin bir şehirde birinci sınıf bir konuma sahip küçük
bir misafirhaneyiz. Ayrıca sadece en iyi malları alıp satıyoruz.
Maalesef, ürünlerimiz tarihe göre satışlarına yaklaştıkça kalitesi sürekli olarak düşüyor.
Envanterimizi bizim için güncelleyen bir sistemimiz var. Yeni maceralara atılan Leeroy
adında saçma sapan bir tip tarafından geliştirildi. Göreviniz, yeni bir ürün kategorisi
satmaya başlayabilmemiz için yeni özelliği sistemimize eklemektir. Öncelikle sistemimize
kısa bir giriş:

    - Tüm eşyalar, ürünü satmamız gereken gün sayısını gösteren bir sellIn değerine sahiptir.
    - Tüm öğelerin, öğenin ne kadar değerli olduğunu gösteren bir quality değeri vardır
    - Her günün sonunda, sistemimiz her öğe için her iki değeri de düşürür

Oldukça basit, değil mi? İşte işin ilginçleştiği yer burası:

    - Son satış tarihi geçtiğinde, quality iki kat daha hızlı düşer
    - Bir öğenin quality değeri negatif olamaz
    - "Aged Brie" aslında sellIn değeri azaldıkça, quality değeri artar
    - Bir öğenin quality değeri hiçbir zaman 50'yi geçmez
    - Efsanevi bir ürün olan "Sulfuras" asla satılmamalı veya quality değerinde düşüş olmamalıdır.
    - "Backstage passes", tıpkı "Aged Brie" gibi, sellIn değeri azaldıkça quality değeri artar;
    quality değeri, 10 gün veya daha az süre kaldığında 2, 5 gün veya daha az süre kaldığında 3 artar
    fakat anlaşma sonrası quality 0'a düşüyor

Kısa bir süre önce bir tedarikçi ile birleşik ürün anlaşması imzaladık. Bu anlaşma, sistemimizde bir
güncelleme gerekmektirmekdir:

    - "Conjured" öğelerin quality değeri normal öğelere göre iki kat daha hızlı düşer

Her şey düzgün çalıştığı sürece, UpdateQuality yönteminde herhangi bir değişiklik yapmaktan
ve yeni bir kod eklemekten çekinmeyin. Ancak, Item sınıfını veya Item property lerini, bunlar
aşağıdakilere ait olduğu için değiştirmeyin.
Kodlar birbirine sıkı bağlı olduğu için hataya açık olacaktır.
(isterseniz UpdateQuality fonksiyonunu ve Items property sini statik hale getirebilirsiniz, biz de sizin yerinize bakacağız).

Sadece açıklığa kavuşturmak için, bir Item ın quality değeri asla 50'nin üzerine çıkamaz,
ancak "Sulfuras" efsanevi bir üründür ve bu nedenle quality 80'dir ve asla değişmez.